<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <display-name>RServlet</display-name>
    <servlet-name>RServlet</servlet-name>
    <servlet-class>com.nit.sis.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RServlet</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LServlet</servlet-name>
    <servlet-class>com.nit.sis.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LServlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HPServlet</display-name>
    <servlet-name>HPServlet</servlet-name>
    <servlet-class>com.nit.sis.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HPServlet</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VServlet</display-name>
    <servlet-name>VServlet</servlet-name>
    <servlet-class>com.nit.sis.ViewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VServlet</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EServlet</display-name>
    <servlet-name>EServlet</servlet-name>
    <servlet-class>com.nit.sis.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EServlet</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CPassword</display-name>
    <servlet-name>CPassword</servlet-name>
    <servlet-class>com.nit.sis.ChangePassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CPassword</servlet-name>
    <url-pattern>/Change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.nit.sis.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
</web-app>